.box {
  border-radius 0
  &:not(:last-child) {
    margin-bottom 0
  }
}

html {
  background-color #fff
}

header {
  padding 20px
  border-bottom 1px solid #e5e5e5
  position fixed
  top 0
  left 0
  width 100%
  z-index 1000
  background-color #fff
}

.text-center {
  text-align center  !important
}

footer {
  position fixed
  bottom 0
  width 100%;
  padding 10px 20px
  background-color #fff
  border-top 1px solid #cccccc
}
.back-menu-bt {
  position absolute
  top 20px
  left 20px
}
.image.is-64x64 {
  height auto
}

.media-left {
  h2 {
    margin-top 10px
  }
}
.margin-top-15 {
  margin-top 15px;
}
.queue-number-layout {

}
.blue-text {
  color #3273dc !important
}
.red-text {
  color #ff3860 !important
}
.green-text {
  color #23d160 !important
}
.content-container {
  padding-top 60px
  padding-bottom 62px
}
.footer-right-border {
  border-right 1px solid #cccccc
}
.text-right {
  text-align right
}
.medium-text {
  font-size 20px !important
}